{% extends 'Students/base.html' %}
{% load students_tag %}
{% load students_filter %}
{% block title %}
    Django_demo
{% endblock %}
{% block section %}
    {{ section }}
{% endblock %}
{% block content %}
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control"placeholder="please input name、qq、phone to find" name="search" value="{{ search }}">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
        <a href="{% url "students:students_list" %}"><button type="reset" class="btn btn-primary">Reset</button></a>
        <a href="{% url "students:student_add" %}" class="btn btn-primary">Add</a>
    </form>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>qq</th>
                    <th>电话</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            {% for student in students %}
                <tr>
                    <td><a href="{% url 'students:detail_form' student.id %}">{{ forloop.counter }}</a></td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.sex|to_male }}</td>
                    <td>{{ student.qq }}</td>
                    <td>{{ student.phone }}</td>
                    <td>
                        <a href="{% url 'students:student_edit' student.id %}" ><button type="button" class="btn btn-primary btn-xs">编辑</button></a>
                        <a href="{% url "students:student_delete" student.id %}"><button type="button" class="btn btn-danger btn-xs">删除</button></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="btn-group">
        <nav aria-label="Page navigation">
            {% pagination_html  %}
        </nav>
    </div>
    <div class="btn-group" style="margin-top: -5px">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ per_page }}条/页 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
        <li><a href="{{ request.path }}?per_page=3">3条/页</a></li>
        <li><a href="{{ request.path }}?per_page=5">5条/页</a></li>
        <li><a href="{{ request.path }}?per_page=10">10条/页</a></li>
        <li><a href="{{ request.path }}?per_page=20">20条/页</a></li>
        </ul>
    </div>
{% endblock %}